# Ch2. 사이킷런으로 시작하는 머신러닝

## sklearn

In [8]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\woo\anaconda3\envs\py39r41\lib\site-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\woo\anaconda3\envs\py39r41\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\woo\anaconda3\envs\py39r41\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\woo\anaconda3\envs\py39r41\lib\site-packages (from scikit-learn) (1.8.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\woo\anaconda3\envs\py39r41\lib\site-packages (from scikit-learn) (1.22.3)

In [9]:
import sklearn

In [10]:
print(sklearn.__version__)

1.0.2

## 붓꽃 품종 예측하기

### import

In [12]:
from sklearn.datasets import load_iris # 붓꽃 데이터 세트 생성
from sklearn.tree import DecisionTreeClassifier # 의사 결정 트리
from sklearn.model_selection import train_test_split # 데이터 세트를 학습 데이터와 테스트 데이터로 분리

In [42]:
import pandas as pd

### preview

In [23]:
iris = load_iris()

In [30]:
iris_data = iris.data
iris_label = iris.target

In [33]:
print('iris target값:', iris_label)
print('iris target명:', iris.target_names)

iris target값: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
iris target명: ['setosa' 'versicolor' 'virginica']

In [37]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [40]:
iris_df = pd.DataFrame(data=iris_data, columns = iris.feature_names)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [41]:
iris_df['lable'] = iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),lable
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### train_test_split()

In [49]:
X_train, X_test, y_train, y_test = train_test_split(iris_data, iris_label,
                                                    test_size=0.2, random_state=11)

- `X_train` : 학습용 피쳐 데이터 세트

- `X_test` : 테스트용 피쳐 데이터 세트

- `y_train` : 학습용 레이블 데이터 세트

- `y_test` : 테스트용 레이블 데이터 세트

- `iris_data` : 피쳐 데이터 세트

- `iris_data` : 레이브 데이터 세트

- `test_size` : 전체 데이터 세트 중 테스트 데이터 세트의 비율

- `random_state` : seed와 같은 의미로 교재 재현성 확보를 위한 옵션

In [57]:
X_test.size / iris_data.size

0.2

In [61]:
y_test.size / iris_label.size

0.2

### DecisionTreeClassifier 객체 생성

In [62]:
dt_clf = DecisionTreeClassifier(random_state=11)

### 학습 수행

In [64]:
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=11)

In [70]:
pred = dt_clf.predict(X_test)
pred

array([2, 2, 1, 1, 2, 0, 1, 0, 0, 1, 1, 1, 1, 2, 2, 0, 2, 1, 2, 2, 1, 0,
       0, 1, 0, 0, 2, 1, 0, 1])

### 학습 정확도 확인

In [71]:
from sklearn.metrics import accuracy_score

In [73]:
accuracy_score(y_test, pred)

0.9333333333333333

In [72]:
y_test

array([2, 2, 2, 1, 2, 0, 1, 0, 0, 1, 2, 1, 1, 2, 2, 0, 2, 1, 2, 2, 1, 0,
       0, 1, 0, 0, 2, 1, 0, 1])

### 정리

`1. 데이터 세트 분리`: 데이터를 학습 데이터와 테스트 데이터로 분리합니다.

`2. 모델 학습`: 학습 데이터를 기반으로 ML 알고리즘을 적용해 모델을 학습시킵니다.

`3. 예측 수행`: 학습된 ML 모델을 이용해 테스트 데이터의 분류(즉, 붓꽃 종류)를 예측합니다.

`4. 평가`: 에측된 결괏값과 테스트 데이터의 실제 결괏값을 비교해 ML 모델 성능을 평가합니다.

## 사이킷런의 기반 프레임워크 익히기